/* Box sizing/ General settings*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-mode {
  background-color: #0f0f0f;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

.flex-set {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-content {
  align-content: flex-start;
  justify-content: flex-start;
}

.flex-adapt {
  flex: 1 1 0;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21em, 1fr));
  grid-auto-rows: minmax(auto, 20em);
  gap: 3em 1em;
}

#favicon {
  width: 16px;
  height: 16px;
}

/*---------Navigation bar items---------*/
.nav-bar {
  top: 0;
  height: 3.5em;
  width: 100%;
  margin: 0 1em;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  z-index: 100; /* ensures bar stays on top */
}

.menu-toggle {
  height: 1em;
  width: 1em;
  background: none;
  border: none;
  cursor: pointer;
  color: #f0f0f0;
  font-size: 1.5em;
  margin: 0.2em;
  margin-left: 0.1em;
  padding: 0.8em 0.8em;
}

.menu-toggle:hover {
  background-color: #282828;
  border-radius: 50%;
}

.youtube-logo {
  width: 8.3em;
  height: auto;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  margin: 0.4em;
  margin-top: 0.6em;
}

.youtube-logo img {
  width: 100%;
  height: auto;
}

.search-bar {
  gap: 1em;
  width: 41em;
}

.search-bar button {
  cursor: pointer;
}

.search-input {
  border-radius: 3em;
  border: 0.1em solid #333;
  width: 41vw;
  height: 2.4em;
  max-width: 41vw;
  overflow: hidden;
}

.search-input input {
  background-color: #131313;
  color: #f0f0f0;
  font-size: 1em;
  border: none;
  outline: none;
  padding: 0.5em;
  padding-left: 1em;
  width: 41vw;
  max-width: 41vw;
  flex: 1 1 0;
}

.search-btn i {
  font-size: 1.5em;
}

.search-btn-other {
  display: none;
}

.search-btn {
  height: 3em;
  background-color: #232323;
  border: none;
  border-left: 0.1em solid #333;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  color: #f0f0f0;
  padding: 0.6em 1.7em;
}

.mic-btn {
  color: #f0f0f0;
  background-color: #232323;
  border: none;
  padding: 0.7em 0.8em;
  border-radius: 50%;
  font-size: 1em;
}

.mic-btn:hover {
  background-color: #333;
  transition: 0.1s ease-in-out;
}

.right-btns {
  border: none;
  cursor: pointer;
}

.create-btn {
  background-color: #282828;
  color: #f0f0f0;
  font-size: 0.9em;
  padding: 0.5em 0.9em;
  margin: 0.2em;
  border-radius: 2em;
}

.create-btn:hover {
  background-color: #343434;
  transition: 0.1s ease-in-out;
}

.bi-plus-lg {
  font-size: 1.4em;
}

.create-text {
  font-size: 1em;
  margin-left: 0.3em;
}

.notif-btn {
  background-color: transparent;
  color: #f0f0f0;
  padding: 0.4em 0.5em;
  font-size: 1.2em;
  margin: 0.3em;
}

.notif-btn:hover {
  border-radius: 50%;
  background-color: #282828;
  transform: 0.1s ease-in-out;
}

.profile-btn-nav {
  font-size: 1.7em;
  background-color: transparent;
  color: #555;
  padding: 0.2em 0.2em;
  margin: 0.1em 0.2em;
}

.scrollable-header {
  top: 3.5em;
  left: 5em;
  margin-bottom: 1em;
  margin-left: 5.1em;
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-items: center;
  white-space: nowrap;
  height: 3.4em;
  width: 100%;
  z-index: 100;
  overflow-x: scroll;
  position: sticky;
}

.scrollable-header::-webkit-scrollbar {
  display: none;
}

.scroll-btn {
  border: none;
  border-radius: 0.6em;
  height: 2.1em;
  width: fit-content;
  background-color: #282828;
  color: #f0f0f0;
  font-weight: 580;
  cursor: pointer;
  padding: 0.5em 1em;
  margin: 0.4em;
}

.scroll-btn:hover {
  background-color: #343434;
}

/*-----------Side menu items----------*/

.side-menu {
  top: 3.7em;
  left: 0;
  width: 4.5em;
  height: 100vh;
  position: fixed;
}

.side-btns {
  background-color: transparent;
  border: none;
  color: #f0f0f0;
  width: fit-content;
  font-size: 1.2em;
  padding: 1em 0em;
  margin-left: 0.2em;
  flex-wrap: wrap;
}

.side-btns:hover {
  background-color: #282828;
  border-radius: 0.4em;
  cursor: pointer;
}

.side-boot {
  text-decoration: none;
  color: #f0f0f0;
}

.menu-text {
  font-size: 0.5em;
  text-decoration: none;
  width: 6em;
  margin-top: 0.4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*----------Hidden App Drawer--------- */

.hidden-app-drawer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  top: 56px;
  position: fixed;
  left: -250px;
  width: 14em;
  height: 100vh;
  overflow-y: scroll;
}

.font-color-drawer {
  color: #f0f0f0;
}

.font-bold {
  font-weight: 580;
}

.drawer-section a {
  display: flex;
  align-items: center;
}

.subs-section {
  margin: 0.4em;
  margin-left: 1.3em;
}

.app-drawer-btns i {
  font-size: 1.4em;
  margin-right: 1.5em;
}

.app-drawer-btns p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon-space {
  margin-right: 1.5em;
}

.drawer-section {
  margin-top: 1em;
  border-bottom: 1px solid #444;
  padding-bottom: 1em;
  width: 94%;
}

.menu-bar-open {
  left: 0;
}

.app-drawer-shift {
  transform: translateX(15.7em);
}

.header-shift {
  transform: translateX(10.8em);
}

.app-drawer-btns {
  display: flex;
  align-items: center;
  border: none;
  font-size: 0.9em;
  padding: 0.6em;
  margin-left: 0.8em;
  width: 100%;
}

#DrawerHome {
  background-color: #262626;
  border-radius: 0.7em;
}

#DrawerHome:hover {
  background-color: #555;
}

.app-drawer-btns:hover {
  background-color: #262626;
  border-radius: 0.7em;
  cursor: pointer;
}

.hidden-app-drawer::-webkit-scrollbar {
  width: 0.4em;
}

.hidden-app-drawer::-webkit-scrollbar-thumb {
  border-radius: 0.2em;
}

.hidden-app-drawer::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

/* TODO Add button to scrollbar */

/*-----------Videos display here----------*/
.content {
  margin: 0.3em;
  margin-right: 1em;
  margin-left: 5.5em;
  height: 100vh; /*Changin this will probably fix the navbar dissapearing issue*/
  width: 100%;
}

.reduce-margin {
  margin-left: 0.5em;
  width: 89%;
}

.video-card {
  display: flex;
  flex-direction: column;
  max-width: 32em;
  align-items: flex-start;
}

.thumbnail-img {
  height: auto;
  width: 100%;
  border-radius: 0.8em;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.thumbnail-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.fill1 {
  width: 100%;
}

.video-time {
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 0.3em;
  font-size: 0.8em;
  position: absolute;
  color: white;
  padding: 0.2em;
  margin: 1em;
}

.thumbnail-img:hover {
  border-radius: 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.avatar {
  height: 2.2em;
  width: 2.2em;
  border-radius: 50%;
  cursor: pointer;
}

.video-title {
  color: #f0f0f0;
  font-weight: 580;
  font-size: 1.2em;
  cursor: pointer;
}

.video-info {
  display: flex;
  margin-top: 0.7em;
  font-size: 0.9em;
  width: 100%;
}

.video-text {
  margin-left: 0.6em;
}

.channel-name {
  color: #888;
  margin-top: 0.4em;
  cursor: pointer;
}

.channel-name:hover {
  color: #cfcfcf;
}

.views-date {
  color: #888;
}

/*---------Video Pages------------*/
.columns {
  margin: 0 auto;
  width: 50%;
  height: 100vh;
}

.vid-flex-set {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.yt-flexy {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.primary {
  padding-top: 2em;
  padding-right: 1.5em;
  margin-left: 2em;
}

.secondary {
  padding-top: 2em;
}

.embed-video {
  width: 50vw;
  height: 56vh;
  border-radius: 1em;
}

.video-page {
  display: flex;
  align-items: flex-start;
}

.side-content {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0.6em;
  height: 6.1em;
}

.thumbnails {
  color: #f0f0f0;
  width: 11em;
  height: 100%;
  /* border: 1px solid red; */
  /* border-right: dotted red; */
  border-radius: 0.5em;
  margin-right: 0.4em;
  align-items: flex-end;
  justify-content: flex-end;
}

.thumbnails > .video-time {
  margin: 0.3em;
}

.side-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  border-radius: 0.5em;
}

.video-more {
  display: flex;
  cursor: pointer;
}

.secondary-more {
  background-color: transparent;
  border: none;
  color: #f0f0f0;
  font-size: 1em;
  cursor: pointer;
  padding-left: 0.2em;
}

.thumbnail-info > .channel-name,
.views-date {
  font-size: 0.85em;
}

.thumbnail-info > .channel-name {
  font-size: 0.8em;
}

.thumbnail-text {
  align-items: flex-start;
  flex-direction: column;
  flex-shrink: 1;
  color: #f0f0f0;
  width: 15em;
  height: 7em;
  /* border: 1px solid red; */
}

.thumbnail-title {
  font-weight: 580;
  margin-bottom: 0.2em;
  width: 100%;
  min-width: 90%;
  max-height: 2.5em;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

.thumbnail-info {
  display: flex;
  flex-direction: column;
}

.thumbnail-info span {
  margin-bottom: 0.1em;
}

.below {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.title {
  /* border: 1px red solid; */
  color: #f0f0f0;
  font-size: 0.6em; /*The font style doesn't seem correct.*/
}

.top-row {
  /* TODO: Add @media: when < 560px, wrap */
  color: #f0f0f0;
  /* border: 1px red solid; */
}

.owner {
  /* border-right: 2px red dotted; */
  width: 50%;
  color: #f0f0f0;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.channel-info {
  margin-left: 1em;
  font-size: 0.65em;
}

.channel-info h2 {
  cursor: pointer;
}

.channel-info p {
  font-size: 1.2em;
  color: #888;
  margin-top: 0.2em;
}

.subscribe-container {
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.subscribe-btn {
  padding: 0.7em 1.1em;
  background-color: #f0f0f0;
  border-radius: 1.5em;
  border: none;
  cursor: pointer;
}

.subscribe-btn p {
  font-size: 1.05em;
  font-weight: 550;
  color: #0f0f0f;
}

.subscribe-btn:hover {
  background-color: #dfdfdf;
}

.actions {
  width: 50%;
  color: #f0f0f0;
  margin-top: 0.5em;
  justify-content: flex-end;
}

.action-btns {
  border: none;
  background-color: #333;
  border-top-left-radius: 1.2em;
  border-bottom-left-radius: 1.2em;
  border-top-right-radius: 1.2em;
  border-bottom-right-radius: 1.2em;
  font-size: 0.9em;
  color: #f0f0f0;
  padding: 0.5em 1em;
  cursor: pointer;
}

.action-btns:hover {
  background-color: #454545;
}

.action-child-cont {
  margin-right: 0.5em;
}

.thumbs-down {
  border-left: 1px solid #414141;
}

.thumbs-up {
  border-top-left-radius: 1.2em;
  border-bottom-left-radius: 1.2em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.thumbs-down {
  border-top-right-radius: 1.2em;
  border-bottom-right-radius: 1.2em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.more {
  padding: 0.7em 0.7em;
}

.action-btn-text {
  margin-left: 0.5em;
  font-weight: 580;
}

.description {
  /* border: 1px red solid; */
  color: #f0f0f0;
  background-color: #252525;
  border-radius: 0.5em;
  margin-top: 0.5em;
  margin-right: 0.5em;
  padding: 0.8em;
}

.description-video-info {
  margin-bottom: 0.2em;
}

.description-video-info span {
  margin-right: 0.4em;
  font-weight: 600;
  font-size: 0.9em;
}

.comments-header {
  /* border-bottom: red 1px dotted; */
  padding: 0.5em;
}

.comments-mid {
  /* border-bottom: 1px red dashed; */
  padding: 0.5em;
  width: 100%;
}

.comments-mid .avatar {
  cursor: default;
}

.comments-counter {
  width: 15%;
}

#comments-counter {
  color: #f0f0f0;
  font-size: 1.4em;
}

.sort-comments {
  color: #f0f0f0;
  /* border-left: 1px red dotted; */
}

.comments-input {
  /* border-left: 2px red dotted; */
  margin-left: 1.5em;
  margin-right: 1em;
  width: 100%;
}

.comments-input input {
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 2px solid #252525;
  padding-bottom: 0.5em;
  background-color: transparent;
  width: 100%;
  outline: none;
  color: #f0f0f0;
  font-size: 1em;
}

.comments-input input:focus {
  border-bottom: 2px solid #f5f5f5;
  transition-duration: 2s;
}

.sort-comments i {
  font-size: 1.7em;
  margin-right: 0.3em;
}

.sort-comments p {
  font-weight: 570;
}

.sort-comments button {
  border: none;
  background-color: transparent;
  color: #f0f0f0;
  font-size: 0.9em;
  align-items: center;
  cursor: pointer;
  padding: 0.2em;
}

.comment-block {
  margin-bottom: 1em;
  padding: 0.5em;
  align-items: flex-start;
}

.comment-section {
  /* border: 1px red solid; */
  color: #f0f0f0;
  margin-top: 2em;
}

.user-info p {
  font-size: 0.9em;
  margin-right: 0.5em;
}

.user-info {
  /* border: red 1px solid; */
  margin-bottom: 0.3em;
}

.main-block {
  margin-left: 0.5em;
}

.comment-age {
  color: #929292;
}

.comment-likes-counter {
  font-size: 0.8em;
  color: #929292;
}

.comment-thumbs button {
  background-color: transparent;
  border: none;
  color: #f0f0f0;
  cursor: pointer;
}

.comment-up,
.comment-down {
  padding: 0.3em 0.3em;
  border-radius: 50%;
  font-size: 1.2em;
}

.comment-up:hover,
.comment-down:hover,
.reply-btn:hover {
  background-color: #414141;
}

.reply-btn p {
  font-size: 1em;
}

.reply-btn {
  margin-left: 1em;
  padding: 0.6em 0.9em;
  border-radius: 1.5em;
}

/*----------Adjustments-----------*/

@media (max-width: 768px) {
  .side-menu {
    display: none;
  }

  .scrollable-header {
    margin-left: 0;
  }

  .content {
    margin-left: 1em;
  }
}

@media (max-width: 620px) {
  /*Adjusting navbar*/
  .search-input {
    display: none;
  }

  .search-btn-other {
    display: inline-block;
    background-color: transparent;
    color: #f0f0f0;
    border: none;
    cursor: pointer;
    padding: 0.7em 0.7em;
    border-radius: 50%;
    font-size: 1em;
  }

  .search-btn-other:hover {
    background-color: #333;
  }

  .search-bar {
    width: 7em;
  }

  .flex-set {
    justify-content: flex-end;
  }

  .mic-btn {
    background-color: transparent;
  }

  .create-btn,
  .notif-btn,
  .profile-btn-nav {
    margin: 0;
  }
}

@media (max-width: 1015px) {
  .secondary {
    display: none;
  }

  .columns {
    margin: 0;
    width: 100%;
  }

  .primary {
    width: 100%;
  }

  .embed-video {
    width: 100%;
  }
}

/* TODO:
-make sure navbar, scroll bar, and aside stay on top when user scroll down past the viewport height
-Need to implement the scrollbar buttons for the scrollable header and app drawer
-Make sure the grid in the home page is responsive and not buggy
-
*/
